html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	background-color: $bg;
	color: $white;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
html {
    font-size: 62.5%;
}
a {
    text-decoration: none;
	color: $black;
}
.container {
	max-width: 1200px;
	padding-left: 1.5rem;
	padding-right: 1.5rem;
	margin: 0 auto;
}
// h1,
// .h1 {
//     @include font($jt,rem(80),$white,800,1.3);
// }
.text-body {
	@include font($Rb,1.4rem,$grey,400,null);
}
h2,
.h2 {
	@include font($Op,5rem,$black,800,null);
	text-transform: capitalize;
	letter-spacing: -.88px;
	line-height: 1.2;
}

h3,
.h3 {
	@include font($Op,2.2rem,$black, 800,null);
}
// h4,
// .h4 {
//     @include font($jt,rem(36),$white,500,1.4);
// }
// h5,
// .h5 {
//     @include font($lb,rem(40),$red-100,400,1.4);
// }
// p {
//     @include font($jt,rem(24),$white,300);
// }


