// color
$white: #ffffff;
$black: black;
$bg :#101010;
$grey: #999999;
$grey-100: #191919;
$red: #CF1C46;
$red-100: #e9204f;


/* font-family other */
$Op: 'Overpass', sans-serif;
$Rb: 'Roboto', sans-serif;
/* font size */

