.banner {
    // background-color: $black;
    @include position(relative,0,null,null,2);
    width: 100%;
    padding: 18.1rem 0px;
    background-color: $black;
    mix-blend-mode: overlay;
    .video {
        @include position(absolute,0,null,null,0,-1);
        @include sizeEx(100%);
        object-fit: cover;
        opacity: 0.5;
    }
    &-content {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;
        padding: 70px 30px 70px 30px;
        &-title {
            @include font($Op,7rem,null,800);
            margin-bottom: 4rem;
        }
        &-text {
            @include font($Rb,1.6rem,null,400);
            max-width: 40%;
            line-height: 2.7rem;
            margin-bottom: 5rem;
        }
    }
    .btn-banner {
        padding: 2.2rem 4.2rem;
        @include font($Op,1.9rem,null,700);
        line-height: 2.4rem;
    }
}