.digital {
    display: flex;
    flex-direction: column;
    &::before {
        content: '';
        @include sizeEx(0.1rem, 3rem);
        top: 0;
        margin: 0 auto;
        background-color: $red;
        margin-bottom: 3rem;
    }
    &::after {
        content: '';
        @include sizeEx(0.1rem, 5rem);
        bottom: 0;
        margin: 0 auto;
        background-color: $red;
        margin-bottom: 3rem; 
    }
    .digital-content {
        max-width: 57rem;
        margin: 0 auto;
        text-align: center;
        &-title {
            line-height: 5.8rem;
            letter-spacing: -1.92px;
            padding: 3.5rem 0;
        }
        &-text {
            line-height: 2.7rem;
        }
    }
    &-lists {
        display: grid;
        grid-template-columns: repeat(3, minmax(31rem, 1fr));
        grid-template-rows: 38rem 38rem;
        grid-gap: 2.5rem;
        padding: 2rem;
        margin: 6.5rem 0;
    }
    .digital-items {
        background-color: $grey-100;
        border-radius: 0.5rem;
        padding: 5rem 3rem;
        box-shadow: 2px 2px 10px -1px $black;
        cursor: pointer;
        &-icon {
            height: 6rem;
            margin-left: -1rem;
            padding-bottom: 3rem;
            color: $white
        }
        &-title {
            color: $white;
        }
        &-text {
            line-height: 2.6rem;
        }
    }
}